---
layout: default
---

<!-- Header -->
<header id="header">
	<h1><a href="index.html"><strong>{{ site.title }}</strong> by {{ site.author }}</a></h1>
	<nav>
		<ul>
			<li><a href="#footer" class="icon fa-info-circle">About</a></li>
		</ul>
	</nav>
</header>

<!-- Main -->
<div id="main">
{% for item in site.artwork %}
	<article class="thumb">
        {% if item.image-file %}
		    <a href="assets/{{ item.image-file }}" class="image"><img src="assets/{{ item.image-file }}" alt="" /></a>
        {% else %}
		    <a href="images/fulls/10.jpg" class="image"><img src="images/fulls/10.jpg" alt="" /></a>
        {% endif %}
		<h2>{{ item.title }}</h2>
		<p>{{ item.description }} <b><a href="#">Read more.</a></b></p>
	</article>
  {% endfor %}
</div>

<!-- Footer -->
<footer id="footer" class="panel">
	<div class="inner split">
		<div>
			<section>
				<h2>Artwork by {{ site.author }}</h2>
				<p>{{ site.description }}</p>

			</section>
			<section>
				<h2>Follow me on ...</h2>
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
			</section>
			<p class="copyright">
				&copy; {{ site.author }}. Design: <a href="http://html5up.net">HTML5 UP</a>.
			</p>
		</div>
		<div>
			<section>
				<h2>Get in touch</h2>
                <p><strong>Email</strong>  {{ site.email }}</p>
			</section>
		</div>
	</div>
</footer>

